body {
    font-size: 0.875rem;
}

table {
	font-size: 0.875rem;
	}

.scrollspy-example {

}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    width: 250px;
}

.myMonth {
    border-bottom: 2px solid #dee2e6;
}

td.weekPercent {
    vertical-align: middle;
}