body {
    font-size: 0.875rem;
}

.scrollspy-example {
    position: relative;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    position: fixed;
    width: 200px;
}

